a {
	font-size: 24px;
	font-weight: 700;
	color: #8D81FF;
	text-decoration: none;
	margin-top: 40px;
	display: inline;
	margin-left: 200px;

}
#active {
	color:#4E6FAE ;
}
.date {
	background-color: #5012D5;
	color: #84FF81;
	font-weight: 400;
	font-size: 24px;
	width: 30px;
	padding: 5px;
	margin-left: 40px;
	line-height: 28px;
}
.tve {
	color: #8D81FF;
	font-size: 24px;
	font-weight: 400;
	margin-left: 40px;
	line-height: 32px;
	font-family: "BPG Nino Mkhedruli", sans-serif;

  
}
.heading {
	color: #4E6FAE;
	font-weight: 700;
	font-size: 20px;
	margin-left: 40px;
	line-height: 24px;
	font-family: "Gugeshashvili_Rachveli", sans-serif;
	

}
.text {
	color: #4E6FAE;
	width: 1021px;
	margin-left: 40px;
	font-size: 16px;
	line-height: 19px;
	font-weight: 700;
	letter-spacing: -1px;
	font-family: "ALK Rounded Nusx Med", sans-serif;



}
li {
	color: #4E6FAE;
	width: 1021px;
	width: 1021px;
	margin-left: 40px;
	font-size: 16px;
	line-height: 19px;
	font-weight: 700;

}
.zoli {
	height: 48px;
	width: 2px;
	background-color: #5012D5 ;
	display: inline-block;
	margin: 0px 30px;
	
}
.foto {
	margin: 41px;
	display: inline-block;
	width: 778px;
	height:281px;

}
#foto {
	margin-left: 30px;
}
.foto2 {
	margin-left: 40px;
}
nav {
	display: inline;
}